/* GLOBAL STYLES
--------------------------- */
body {
    /* background: paleturquoise; */
    background: #f6f6f6;   
}

/* links */
a 
{
    color: #3c8453;
}


a:hover
{
    color: #bcaa96;
    text-decoration: none;
}

footer a 
{
    color: #bcaa96;

}

footer a:hover
{
    color: #3c8453;
}


#highlight
{
    background: yellow;
}

.large-text {
    font-size: 26px;

}


.btn
{
    background: #3c8453;
    color: #f6f6f6;
    text-decoration: none;
}


/* HOME
-------------------------; */
.home 
{
    background: url(../images/bg-home-office-studio.jpg) no-repeat;
    background-size: cover;
}

.home .content-wrapper {
    background: rgb(255 255 255 /0.9);

}

/* FOOTER 
--------------------- */
footer
{
    background: #222;
    color: #d3d4d6;
}